.branches-container {
  grid-template-columns: repeat(4, 25%); }
  .branches-container .box:nth-child(2) .corner-wrapper,
  .branches-container .box:nth-child(4) .corner-wrapper,
  .branches-container .box:nth-child(10) .corner-wrapper,
  .branches-container .box:nth-child(12) .corner-wrapper,
  .branches-container .box:nth-child(18) .corner-wrapper,
  .branches-container .box:nth-child(20) .corner-wrapper {
    left: -30px; }
  .branches-container .box:nth-child(6) .corner-wrapper,
  .branches-container .box:nth-child(8) .corner-wrapper,
  .branches-container .box:nth-child(14) .corner-wrapper,
  .branches-container .box:nth-child(16) .corner-wrapper {
    right: -30px; }
  .branches-container .box:nth-child(5) {
    order: 6; }
  .branches-container .box:nth-child(6) {
    order: 5; }
  .branches-container .box:nth-child(7) {
    order: 8; }
  .branches-container .box:nth-child(8) {
    order: 7; }
  .branches-container .box:nth-child(9) {
    order: 9; }
  .branches-container .box:nth-child(10) {
    order: 10; }
  .branches-container .box:nth-child(11) {
    order: 11; }
  .branches-container .box:nth-child(12) {
    order: 12; }
  .branches-container .box:nth-child(13) {
    order: 14; }
  .branches-container .box:nth-child(14) {
    order: 13; }
  .branches-container .box:nth-child(15) {
    order: 16; }
  .branches-container .box:nth-child(16) {
    order: 15; }
  .branches-container .box:nth-child(17) {
    order: 17; }
  .branches-container .box:nth-child(18) {
    order: 18; }
  .branches-container .box:nth-child(19) {
    order: 19; }
  .branches-container .box:nth-child(20) {
    order: 20; }

@media (max-width: 750px) {
  .branches-container {
    grid-template-columns: repeat(2, 50%); }
    .branches-container .box {
      height: 350px !important; }
      .branches-container .box .title {
        font-size: 24px !important; }
      .branches-container .box .description {
        font-size: 18px !important;
        max-height: 250px; }
    .branches-container .box:nth-child(4) .corner-wrapper,
    .branches-container .box:nth-child(12) .corner-wrapper,
    .branches-container .box:nth-child(20) .corner-wrapper {
      left: auto !important;
      right: -30px !important; }
    .branches-container .box:nth-child(6) .corner-wrapper,
    .branches-container .box:nth-child(14) .corner-wrapper {
      right: auto !important;
      left: -30px !important; }
    .branches-container .box:nth-child(3) {
      order: 4; }
    .branches-container .box:nth-child(4) {
      order: 3; }
    .branches-container .box:nth-child(5) {
      order: 5; }
    .branches-container .box:nth-child(6) {
      order: 6; }
    .branches-container .box:nth-child(7) {
      order: 8; }
    .branches-container .box:nth-child(8) {
      order: 7; }
    .branches-container .box:nth-child(9) {
      order: 9; }
    .branches-container .box:nth-child(10) {
      order: 10; }
    .branches-container .box:nth-child(11) {
      order: 12; }
    .branches-container .box:nth-child(12) {
      order: 11; }
    .branches-container .box:nth-child(13) {
      order: 13; }
    .branches-container .box:nth-child(14) {
      order: 14; }
    .branches-container .box:nth-child(15) {
      order: 16; }
    .branches-container .box:nth-child(16) {
      order: 15; }
    .branches-container .box:nth-child(17) {
      order: 17; }
    .branches-container .box:nth-child(18) {
      order: 18; }
    .branches-container .box:nth-child(19) {
      order: 20; }
    .branches-container .box:nth-child(20) {
      order: 19; } }
@media (max-width: 576px) {
  .branches-container .box {
    height: 280px !important; }
    .branches-container .box .title {
      font-size: 20px !important; }
    .branches-container .box .description {
      font-size: 15px !important;
      max-height: 250px; } }
@media (max-width: 480px) {
  .branches-container .box {
    height: 240px !important; }
    .branches-container .box .title {
      font-size: 20px !important; }
    .branches-container .box .description {
      font-size: 15px !important;
      max-height: 180px; } }
@media (max-width: 420px) {
  .branches-container {
    grid-template-columns: repeat(1, 100%); }
    .branches-container .box .title {
      margin-top: 5px !important; }
    .branches-container .box .description {
      max-height: 138px; }
    .branches-container .box.img .corner-wrapper {
      display: none !important; }
    .branches-container .box:nth-child(even) {
      height: 240px !important; }
    .branches-container .box:nth-child(odd) {
      height: fit-content !important; }
    .branches-container .box:nth-child(1) {
      order: 2; }
    .branches-container .box:nth-child(2) {
      order: 1; }
    .branches-container .box:nth-child(3) {
      order: 4; }
    .branches-container .box:nth-child(4) {
      order: 3; }
    .branches-container .box:nth-child(5) {
      order: 6; }
    .branches-container .box:nth-child(6) {
      order: 5; }
    .branches-container .box:nth-child(7) {
      order: 8; }
    .branches-container .box:nth-child(8) {
      order: 7; }
    .branches-container .box:nth-child(9) {
      order: 10; }
    .branches-container .box:nth-child(10) {
      order: 9; }
    .branches-container .box:nth-child(11) {
      order: 12; }
    .branches-container .box:nth-child(12) {
      order: 11; }
    .branches-container .box:nth-child(13) {
      order: 14; }
    .branches-container .box:nth-child(14) {
      order: 13; }
    .branches-container .box:nth-child(15) {
      order: 16; }
    .branches-container .box:nth-child(16) {
      order: 15; }
    .branches-container .box:nth-child(17) {
      order: 18; }
    .branches-container .box:nth-child(18) {
      order: 17; }
    .branches-container .box:nth-child(19) {
      order: 20; }
    .branches-container .box:nth-child(20) {
      order: 19; } }

/*# sourceMappingURL=custom.css.map */
