@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Proxima Nova";
    src: url("./../fonts/proximanova.ttf");
  }

  body,
  p,
  div,
  a,
  button,
  ul,
  li,
  html,
  span,
  input,
  textarea,
  input::placeholder,
  textarea::placeholder,
  * {
    font-family: "Proxima Nova" !important;
    color: #696969;
  }

  .nav-link-styles {
    color: #0d2668;
    font-size: 18px;
    font-weight: 600;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .slide-first {
    animation: horizontal-scrolling-animation 20s linear infinite;
  }

  .slide-second {
    animation: horizontal-scrolling-animation 20s linear infinite;
    animation-delay: 10s;
  }

  .infinity-wrapper:hover .slide-first,
  .infinity-wrapper:hover .slide-second,
  .infinity-wrapper:hover .slide-thirth {
    animation-play-state: paused;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 14px;
    color: #0d2668;
    font-weight: 600;
  }

  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
  .swiper-pagination-2
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #0d2668 !important;
  }

  .sponsors-logo-wrapper .item:nth-child(4),
  .sponsors-logo-wrapper .item:nth-child(8) {
    border-right: none !important;
  }
  .sponsors-logo-wrapper .item:nth-child(5),
  .sponsors-logo-wrapper .item:nth-child(6),
  .sponsors-logo-wrapper .item:nth-child(7),
  .sponsors-logo-wrapper .item:nth-child(8) {
    border-bottom: none !important;
  }

  @media (min-width: 850px) and (max-width: 1300px) {
    .swiper .swiper-pagination {
      bottom: 0px !important;
    }
  }

  @media (max-width: 999.5px) {
    .swiper .swiper-button-next:after,
    .swiper .swiper-button-prev:after {
      font-size: 10px !important;
    }
  }

  @keyframes horizontal-scrolling-animation {
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
  }
}
